@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: 'Inter';
    background: #000000;
    color: white;
    height: 100%;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #565869;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}